@media screen and (min-width: 850px){
    .NewYear {
        width: 260px;
        height: 300px;
        display: inline-block;
        background: url(/assets/other/longgyaj.gif) no-repeat 50%/100%; 
        vertical-align: middle;
        position: fixed;
        left: 85.8%;
        top: 55px;
        z-index: 999;
        cursor: pointer;
        animation: new-year 1.2s ease-in-out 0s infinite alternate;
        margin-left: -1px;
        transform-origin: 50% 0;
        pointer-events: none;
    }
    }
    @keyframes new-year{
      0% {
        transform: rotate(10deg);
    }
      100%{
                transform: rotate(-10deg);
      }
    }